<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../Estils/estils.css" />
</head>
<body>
    <header>
        <div class="menu">
        
            <nav>
                <ul>
                    
                    <li><a href="/views/works.html">Works</a></li>
                    <li><a href="/views/gallery.html">Photo Gallery</a></li>
                    <li><a href="/views/home.html">Home</a></li>
                    
                </ul>
            </nav>
        </div>
    </header>
    <div class="about">

        <img class="imgAbout a" src="/public/Yuta okkotsu-Rika.jpg" alt="aa">
        <img class="imgAbout b" src="/public/rika.webp" alt="ad">
        <p class="aboutp">
            Yuta Okkotsu is the protagonist of the Tokyo Metropolitan Curse Technical School manga series and one of the characters in the sequel series, Jujutsu Kaisen. He is one of the four shamans of the Special Class and a second-year student at the Tokyo Metropolitan Magic Technical College, a classmate of Maki Zenin, Panda, and Toge Inumaki. He was on a mission with Miguel in Kenya, but after the incident in Shibuya, he returned to Japan.
       He was a childhood friend of Rika Orimoto, who died in a tragic car accident. Because of the rejection he felt with her friend's death, he turned it into a Special Grade curse. Since then, he was haunted by the power of her friend, now cursed. To avoid making others suffer, he agrees to be executed, instead Satoru Gojo enrolls him in the Tokyo Metropolitan Magic Technical College to train him to become a shaman he can work with in the future.
               </p>
       
        
       
        <!-- <img src="../public/rika.webp" alt="ricka"> -->
    </div>
   
</body>
</html>