<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yuta Okkotsu</title>
    <link rel="stylesheet" href="../Estils/estils.css" />
</head>
<body>
    <header>
        <div class="menu">
        
            <nav>
                <ul>
                    <li><a href="/views/about.html">About</a></li>
                    <li><a href="/views/works.html">Works</a></li>
                    <li><a href="/views/gallery.html">Photo Gallery</a></li>
                    
                    
                </ul>
            </nav>
        </div>
        <h1>Yuta Okkotsu</h1>
        <section class="homArtc">
        <img class="imgPrinc" src="../public/yutaHome.jpg" alt="foto de yuta">
        <p class="homep">
            Main character of the anime jujutsu kaisen 0, created by Gege Akutami.
        </p>
        </section>
    </header>
</body>
</html>