<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="../Estils/estils.css" />
</head>
<body>
    <header>
        <div class="menu">
        
            <nav>
                <ul>
                    <li><a href="/views/about.html">About</a></li>
                    <li><a href="/views/gallery.html">Photo Gallery</a></li>
                    <li><a href="/views/home.html">Home</a></li>
                    
                </ul>
            </nav>
        </div>
    </header>
    <section class="workss">
        <div class="textW">
            <h2>JUJUTSU KAISEN 0 THE MOVIE</h2>
            <p class="pW">The movie comes from the manga where we first met Yuta there. Also later, an anime was made where a story related to that of our character appears. 
                Yuuta Okkotsu is haunted. Ever since his childhood friend Rika died in a traffic accident, her ghost has stayed with him. But his spirit doesn't appear as the sweet girl Yuuta once knew. Instead, he manifests as a monstrous and powerful entity that fiercely protects him. Unable to control Rika's violent behavior, Yuuta is powerless to stop the bloodshed that follows her brutal revenge.</p>
        </div>
        <div class="imgW">
            <img class="fotoW" src="/public/jujutsu-kaisen-0-poster.jpg.webp" alt="poster">
        </div>
    </section>

    
   
</body>
</html>