nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav a, .botonsUnirse a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
  }

  a:hover{
    color: yellow;

  }

  body{
    background-color: black;
  }

  header{
    /* margin-left: 200px;
    
    margin-right: 200px; */
    padding-left: 150px;
    padding-right: 200px;
    /* border: solid 2px red; */
    height: 80px;
    padding-top: 40px;
    background-image: url("../public/bacckground.jpg");
  }

  .homep{
    color: white;
  }

  .imgPrinc{
    padding-top: 50px;
  }

  .homArtc{
    text-align: center;
  }

 .aboutp{
    color: white;
 }

 .imgAbout{
    
    width: 500px;
    height: 600px;
    margin-top: 30px;
    


    
 }

 

 .about{
   text-align: center;
 }

 .aboutp{
    height: 200px;
    width: 900px;
    margin: auto;
    margin-top: 30px;
 }

 .fotoW{
    height: 600px;
    width: 470px;
 }

 h2{
    color: white;
 }
 .pW{
    color: white;
    height: 200px;
    width: 370px;
    margin-right: 40px;
    
 }
 .workss{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: space-evenly;
    margin-top: 50px;
 }


h1{
    color: red;
    margin-top: 50px;
    font-size: 60px;
    text-align: center;

}
